/* Font import */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* === 1. RESETS === */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* === 2. VARIABLES === */
/* Colors */
/* Typeface */
/* === 3. CONTAINERS === */
body {
  background-color: #ff7a7a;
  background-image: url(/resources/bg-intro-mobile.png);
  font-family: "Poppins", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

/* === 4. INTRO === */
.intro {
  color: #fafafa;
  text-align: center;
  margin: 3em 0 2em 0;
  padding: 0 1.25rem 1.25rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__heading {
  font-size: 1.75rem;
  font-weight: 700;
}

.intro__body {
  font-weight: 500;
  width: auto;
}

/* === 5. CTA === */
.cta {
  background-color: #6055a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #6055a5;
  border-radius: 0.4em;
  color: #fafafa;
  -webkit-box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}

.cta__wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

/* === 6. SIGN-UP FORM === */
.signup {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 0.4em;
  -webkit-box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  margin-bottom: 3.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__submit {
  padding: 0.7em;
  margin: 0.6em;
  background-color: #38cc8c;
  color: #fafafa;
  cursor: pointer;
  border: 1px solid #38cc8c;
  border-bottom: 3px solid #49ae84;
  border-radius: 0.4em;
  font-weight: 700;
  font-size: 0.85rem;
  padding: 1.2em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup__submit:hover,
.signup__submit :focus,
.signup__submit :active {
  opacity: 0.7;
}

.signup__terms {
  font-size: 0.65rem;
  color: #b9b6d3;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.signup__link {
  color: #ff7a7a;
  font-weight: 600;
  text-decoration: none;
  outline: none;
}

.signup__link :focus {
  opacity: 0.7;
}

.form, .form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input {
  margin-bottom: 16px;
  border: 0.03125rem solid #b9b6d3;
  border-radius: 0.3em;
  padding: 1.3em;
  margin: 1em;
  font-weight: 600;
  font-size: 0.75rem;
  color: #3e3c49;
}

.form__input:focus {
  border: 1px solid #3e3c49;
  outline: none;
}

.error {
  background: url(/resources/icon-error.svg) no-repeat;
  background-position: right;
  background-origin: content-box;
  border: 2px solid #ff7a7a;
}

.error-message {
  color: #ff7a7a;
  font-size: 10px;
  opacity: 1;
  position: relative;
  right: 13px;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: end;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

/* === 7. ATTRIBUTION === */
.attribution {
  text-align: center;
  color: #fafafa;
}

.attribution__link {
  text-decoration: none;
  color: #3e3c49;
}

.attribution__link:hover,
.attribution__link :focus,
.attribution__link :active {
  color: #fafafa;
}

/* === 8. MEDIA QUERIES === */
@media only screen and (min-width: 1024px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3.4375rem;
  }
  body {
    background-image: url(/resources/bg-intro-desktop.png);
  }
  .intro {
    margin: 0 10vw 0 0;
    width: 40vw;
  }
}
/*# sourceMappingURL=main.css.map */