/* Font import */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* === 1. RESETS === */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* === 2. VARIABLES === */

/* Colors */
$red: #ff7a7a;
$green: #38cc8c;
$blue: #6055a5;
$blue--dark: #3e3c49;
$gray: #b9b6d3;

/* Typeface */
$font: 'Poppins', sans-serif;
